<!doctype html>
<html lang="en">

<head>
    <title>Options</title>
    <meta charset="utf-8">
    <script defer src="/assets/js/options.js"></script>
    <link rel="stylesheet" href="/assets/css/options.css">
</head>

<body>
    <div>
        <form>
            <fieldset>
                <legend class="h1">Options</legend>
                <div class="form-group">
                    <label for="cascading-style-sheets" class="h2">Cascading Style Sheets</label>
                    <textarea id="cascading-style-sheets" spellcheck="false" autofocus rows="40" wrap="off"></textarea>
                </div>
                <div class="form-group">
                    <label for="javascript" class="h2">JavaScript</label>
                    <textarea id="javascript" spellcheck="false" autofocus rows="40" wrap="off"></textarea>
                </div>
                <button type="submit">Save</button>
            </fieldset>
        </form>
    </div>
</body>

</html>